.vet-clinics{
	margin:5% 10%;
}

.clinic-wrapper{
	/*display: flex;
	margin:0 10%;
	flex-direction: row;
	flex-wrap: wrap;*/
	display: grid;
	 
	grid-template-columns: repeat(3, 1fr);
	 
	grid-auto-rows: auto;
	 
	grid-gap: .85rem;
	grid-row-gap: 50px;
}
.clinic{
	height: 27rem;
	width: 18rem;
	background-color: #ccc;
	border-radius: 10px;
	margin-right: 1rem;
	position: relative;
}
.vet-img{
	width:100%;
	height: 10rem;
}
.title{
	text-align: center;
	background-color: #001a00;
	margin: 0;
	padding: .5rem 0;
	color: #fff;
}
.vet-info,.vet-location{
	padding:5px;
}
.location-icon{
	color:green;
}
.vet-contact{
	text-align: center;
	 position: absolute;
  bottom: 0;
  width: 100%;
}
.vet-contact-item{
	display: block;
	padding: 5px 0;
	background-color: #ff4000;
	transition: all 0.6s linear;
	color: #fff;
}
.vet-contact-item:hover{
	background-color: #661400;
	color: #fff;
	transform: scale(1.3);
}
.contact-icon{
	margin-right: 5px;
}